{% if maplibre %}
<script src="static/maplibre-gl.js" defer></script>
<link href="static/maplibre-gl.css" rel="stylesheet" />

<meta name="azure-maps-key" content="{{ site.azureMapsKey }}" />

<script id="map-metadata" type="application/json">
{{ site.electionMetadata | dump | safe }}
</script>
{% endif %}

{%- set css -%}
  {%- includefile "style.css" -%}
  {%- if style -%}
    {%- includefile style -%}
  {%- endif -%}
{%- endset -%}

<style type="text/css">{{ css | safe }}</style>

<script type="module">{% include "index.js" %}</script>

{% if site.environment != "development" %}
  {% include "webpack.njk" ignore missing %}
{% endif %}
