{% if mapbox %}
<script src="static/mapbox-gl.js" defer></script>
<link href="static/mapbox-gl.css" rel="stylesheet" />
{% endif %}

{%- set css -%}
  {%- includefile "style.css" -%}
  {%- if style -%}
    {%- includefile style -%}
  {%- endif -%}
{%- endset -%}

<style type="text/css">{{ css | safe }}</style>

<script type="module">{% include "index.js" %}</script>

{% if site.environment != "development" %}
  {% include "webpack.njk" ignore missing %}
{% endif %}
