---
layout: embed
title: 2022 Democratic Primary | Chicago Elections Archive
permalink: /elections/2022-democratic-primary/
maplibre: true
embedElection: 252
showEmbedAttribution: true
eleventyExcludeFromCollections: true
---
