---
layout: embed
title: 2023 Municipal Runoff | Chicago Elections Archive
permalink: /elections/2023-municipal-runoff/
maplibre: true
embedElection: 242
showEmbedAttribution: false
eleventyExcludeFromCollections: true
---
