---
layout: embed
title: 2023 Municipal General | Chicago Elections Archive
permalink: /elections/2023-municipal-general/
maplibre: true
embedElection: 210
showEmbedAttribution: false
eleventyExcludeFromCollections: true
---

{# TODO: Change #}