.venv
.vscode
input/*
!input/.keep
output/*
!output/.keep
dist/*
!dist/.keep
!input/metadata.json
!input/results-metadata.json
.DS_Store
.env*
!/.env.sample
node_modules
dist/
site/_includes/*.js
site/_includes/*.css
site/_includes/webpack.njk
site/img/*
!site/img/.keep
site/data/*
!site/data/.keep
