---
layout: base
permalink: /download/
mapMetadata: true
title: Download | Chicago Elections Archive
---

{% mdBlock %}
# Download data

Use this download tool to generate custom exports for specific elections.

You can create CSV exports for use in spreadsheet applications like Excel or Google Sheets as well as GeoJSON exports for mapping applications like QGIS, Google My Maps, or ArcGIS.
{% endmdBlock %} 

<div id="download-container"></div>
