---
permalink: /embed/
maplibre: true
---

<!DOCTYPE html>
<html lang="{{ site.locale }}" class="embed">
  <head>
    {% include "metadata.njk" %}
    <script src="static/pym.v1.min.js" defer></script>
    {% include "assets.njk" %}
    {% include "analytics.njk" %}
  </head>
  <body>
    <main class="map">
      <div id="map-container"></div>
    </main>
  </body>
</html>
