---
layout: base
permalink: /
maplibre: true
mainClass: map
---

<div id="map-container"></div>
<div id="header"></div>
<div id="legend">
  <form id="legend-form" method="GET" action="">
  </form>
</div>
