html,
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  @apply flex flex-col min-h-screen;

  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

a {
  @apply text-blue-600;

  text-decoration: none;
}

a:active,
a:hover,
a:focus {
  text-decoration: underline;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visually-hidden-focusable:not(:focus) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
