select {
  background-color: #f4f4f4;
}

select {
  @apply relative w-full max-w-full h-8 py-0 pl-2 pr-6;

  appearance: none;
  border: none;
}

select:focus {
  box-shadow: 0 0 1px 1px #0a60c2;
}

.select {
  @apply w-full relative flex-grow max-w-full;

  border: solid 1px #d8d8d8;
}

/* Borrowed from bulma */
.select::after {
  @apply block pointer-events-none absolute;

  content: "";
  z-index: 1;
  border: 3px solid #000000;
  border-right: 0;
  border-top: 0;
  border-radius: 2px;
  height: 0.625em;
  margin-top: -0.4375em;
  top: 50%;
  right: 0.5em;
  transform: rotate(-45deg);
  transform-origin: center;
  width: 0.625em;
}
