main.map {
  @apply w-full relative;

  min-height: calc(100vh - 52px);
}

#map-container,
#map {
  @apply absolute top-0 left-0 bottom-0 right-0;
}

#legend {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

#legend form {
  @apply flex flex-row items-center;
}

#legend select {
  @apply relative w-full max-w-full h-8 py-0 pl-2 pr-6;

  background-color: #f4f4f4;
  appearance: none;
  border: none;
}

#legend select:focus {
  box-shadow: 0 0 1px 1px #0a60c2;
}

#legend .select {
  @apply w-full max-w-full relative flex-grow mb-1;

  border: solid 1px #d8d8d8;
}

/* Borrowed from bulma */
#legend .select::after {
  @apply block pointer-events-none absolute z-30;

  content: "";
  border: 3px solid #000000;
  border-right: 0;
  border-top: 0;
  border-radius: 2px;
  height: 0.625em;
  margin-top: -0.4375em;
  top: 50%;
  right: 0.5em;
  transform: rotate(-45deg);
  transform-origin: center;
  width: 0.625em;
}

#legend .select:first-child {
  margin-right: 2px;
}
#legend .select:last-child {
  margin-left: 2px;
}

#legend .content {
  max-height: 140px;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 8px 12px;
  background: radial-gradient(
      farthest-side at 50% 100%,
      rgba(34, 34, 34, 0.3),
      rgba(0, 0, 0, 0)
    )
    0 100%;
  background-color: rgba(255, 255, 255, 0.8);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100% 8px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  border: solid 1px #d5d5d5;
}

#legend .content h1 {
  @apply text-lg pt-2 pb-3 my-0;

  line-height: 1;
}

.legend-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
}

.legend-item:last-child {
  margin-bottom: 8px;
}

.color-ramp {
  @apply flex flex-row items-center justify-between mb-3 h-6 p-1;

  line-height: 1.5;
}

.legend .color {
  height: 20px;
  width: 20px;
  margin-right: 8px;
}

.ramp-label:first-child {
  color: #000 !important;
}

.ramp-label:last-child {
  color: #fff;
}

#geocoder-container {
  height: 42px;
  border-radius: 2px;
  background-color: #fff;
  position: relative;
  margin-bottom: 4px;
}

#geocoder svg {
  @apply absolute z-10;

  left: 12px;
  top: 50%;
  width: 16px;
  transform: translateY(-50%);
  opacity: 0.8;
}

#geocoder-results {
  @apply absolute left-0 right-0 w-full bg-white;
  top: 100%;
  z-index: 2;
  box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.25);
}

#geocoder-results .result {
  @apply bg-white cursor-pointer max-w-full overflow-hidden;

  padding: 6px 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: solid 1px #d5d5d5;
  border-top-width: 0;
}
#geocoder-results .result:hover,
#geocoder-results .result:active {
  @apply relative;

  box-shadow: 0 0 1px 1px #0a60c2;
  z-index: 1;
}
#geocoder-results .result[aria-selected] {
  background-color: #c0ddff;
  font-weight: 600;
}
#geocoder-results .result:first-child {
  border-top-width: 1px;
}

#geocoder,
#geocoder-search {
  @apply w-full h-full;
}

#geocoder {
  @apply relative;
}

#geocoder-search {
  @apply inline-flex items-center justify-start;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  border: solid 1px #d5d5d5;
  padding: 12px 8px;
  padding-left: 34px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
}
#geocoder-search::placeholder {
  color: #2c2e35;
  opacity: 0.8;
}

#geocoder-search:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #0a60c2;
}

.delete {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  position: relative;
  outline: none;
  font-size: 0;
  height: 20px;
  width: 20px;
  min-height: 20px;
  min-width: 20px;
  max-height: 20px;
  max-width: 20px;
  vertical-align: top;
  background-color: rgba(0, 0, 0, 0.2);
}

.delete::before,
.delete::after {
  display: block;
  position: absolute;
  background-color: #fff;
  content: "";
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform-origin: center center;
}

.delete::before {
  height: 2px;
  width: 50%;
}

.delete::after {
  height: 50%;
  width: 2px;
}

.delete:hover,
.delete:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

.delete:active {
  background-color: rgba(0, 0, 0, 0.4);
}

#geocoder-clear {
  @apply absolute inline-block;

  right: 12px;
  top: 10px;
}

#geocoder-clear.hidden {
  @apply hidden;
}

#geocoder-search {
  padding-right: 36px;
}

@media screen and (min-width: 800px) {
  #geocoder-container {
    width: 360px;
    margin-bottom: 8px;
  }

  #legend {
    bottom: 24px;
    right: 8px;
    left: auto;
  }

  #legend .content {
    width: 360px;
    max-height: inherit;
    overflow-y: visible;
    background: none;
    background-color: rgba(255, 255, 255, 0.8);
  }

  #legend .content h1 {
    @apply text-xl block;
  }

  #legend form {
    @apply block;
  }
  #legend .select:first-child,
  #legend .select:last-child {
    @apply mx-0;
  }
}

.maplibregl-map {
  @apply font-body;
}

.maplibregl-popup-close-button {
  padding: 0 4px;
}

.maplibregl-popup {
  max-width: 220px;
  width: 220px;
}

.maplibregl-popup {
  z-index: 1;
}

.maplibregl-popup .maplibregl-popup-tip {
  border-top-color: rgba(255, 255, 255, 0.8);
}

.maplibregl-popup .maplibregl-popup-content {
  background-color: rgba(255, 255, 255, 0.8);
}

.maplibregl-popup .maplibregl-popup-content {
  padding: 0;
  pointer-events: none;
}

.maplibregl-popup .tooltip-results-label {
  line-height: 1;
  margin-bottom: 6px;
}

.maplibregl-popup-content .tooltip-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.maplibregl-popup-content .popup {
  padding: 10px 10px 15px;
  pointer-events: none;
}

.maplibregl-popup-close-button,
.maplibregl-popup-content .popup.click {
  pointer-events: all;
}

.legend-row {
  @apply flex flex-row items-center justify-between;

  line-height: 1.25;
}

.legend-row .label {
  line-height: 1;
}

.legend-row .numbers {
  @apply flex items-center justify-end flex-grow pl-2;
}

.legend-row .percent {
  @apply inline-block pl-2 w-12;
}

#legend .legend-row .percent {
  @apply pl-3 w-16;
}

.legend-row .color {
  @apply h-3 w-3 inline-block mr-2;
}

.maplibregl-popup-content h2 {
  font-size: 16px;
  line-height: 1;
  margin-bottom: 4px;
}

.maplibregl-popup-content h3 {
  font-size: 14px;
  line-height: 1;
  margin-bottom: 8px;
}

.maplibregl-ctrl-attrib summary.maplibregl-ctrl-attrib-button {
  @apply appearance-none;

  list-style: none;
}

.maplibregl-ctrl-attrib
  summary.maplibregl-ctrl-attrib-button::-webkit-details-marker {
  @apply hidden;
}
