main.map {
  @apply w-full relative h-full;

  min-height: calc(100vh - 48px);
  min-height: fill-available;
}

main.map + footer {
  @apply hidden;
}

.embedded html,
.embedded body,
.embedded main.map {
  min-height: 650px;
}

#map {
  @apply absolute top-0 left-0 bottom-0 right-0;
}

@media screen and (min-width: 900px) {
  main.map {
    min-height: calc(100vh - 48px);
  }
  main.map + footer {
    display: inherit;
  }
}

#legend {
  @apply absolute left-0 right-0 bottom-0;
}

#legend form {
  @apply flex flex-row items-center;
}

#legend .select {
  @apply mb-1;
}

#legend .select:first-child {
  margin-right: 2px;
}
#legend .select:last-child {
  margin-left: 2px;
}

#legend .content {
  @apply overflow-y-scroll overflow-x-hidden py-3 px-2;

  max-height: 140px;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: radial-gradient(
      farthest-side at 50% 100%,
      rgba(34, 34, 34, 0.3),
      rgba(0, 0, 0, 0)
    )
    0 100%;
  background-color: rgba(255, 255, 255, 0.8);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100% 8px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  border: solid 1px #d5d5d5;
}

#legend .content::-webkit-scrollbar {
  display: none;
}

#legend .content h1 {
  @apply text-lg pb-3 my-0;

  line-height: 1;
}

.legend-item {
  @apply flex flex-row items-center justify-start text-sm;
}

.legend-item:last-child {
  @apply mb-2;
}

.color-ramp {
  @apply flex flex-row items-center justify-between mb-3 h-6 p-1;

  line-height: 1.5;
}

.legend .color {
  @apply h-5 w-5 mr-2;

  min-height: 1.25rem;
  min-width: 1.25rem;
  max-height: 1.25rem;
  max-width: 1.25rem;
}

.ramp-label:first-child {
  color: #000 !important;
}

.ramp-label:last-child {
  color: #fff;
}

#geocoder-container {
  @apply relative mb-1;

  height: 42px;
  background-color: #fff;
}

#geocoder svg {
  @apply absolute z-10 w-4;

  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.8;
}

#geocoder-results {
  @apply absolute left-0 right-0 w-full bg-white;

  top: 100%;
  z-index: 2;
  box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.25);
}

#geocoder-results .result {
  @apply bg-white cursor-pointer max-w-full overflow-hidden px-2 py-3 whitespace-no-wrap;

  text-overflow: ellipsis;
  border: solid 1px #d5d5d5;
  border-top-width: 0;
}
#geocoder-results .result:hover,
#geocoder-results .result:active {
  @apply relative;

  box-shadow: 0 0 1px 1px #0a60c2;
  z-index: 1;
}
#geocoder-results .result[aria-selected] {
  background-color: #c0ddff;
  font-weight: 600;
}
#geocoder-results .result:first-child {
  border-top-width: 1px;
}

#geocoder,
#geocoder-search {
  @apply w-full h-full;
}

#geocoder {
  @apply relative;
}

#geocoder-search {
  @apply inline-flex items-center justify-start appearance-none py-3 px-2;

  border-radius: 0;
  border: solid 1px #d5d5d5;
  padding-left: 34px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
}
#geocoder-search::placeholder {
  color: #2c2e35;
  opacity: 0.8;
}

#geocoder-search:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #0a60c2;
}

.delete {
  @apply inline-block relative appearance-none border-none cursor-pointer h-5 w-5;

  border-radius: 50%;
  pointer-events: auto;
  outline: none;
  font-size: 0;
  min-height: 1.25rem;
  min-width: 1.25rem;
  max-height: 1.25rem;
  max-width: 1.25rem;
  vertical-align: top;
  background-color: rgba(0, 0, 0, 0.2);
}

.delete::before,
.delete::after {
  display: block;
  position: absolute;
  background-color: #fff;
  content: "";
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform-origin: center center;
}

.delete::before {
  height: 2px;
  width: 50%;
}

.delete::after {
  height: 50%;
  width: 2px;
}

.delete:hover,
.delete:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

.delete:active {
  background-color: rgba(0, 0, 0, 0.4);
}

#geocoder-clear {
  @apply absolute inline-block;

  right: 12px;
  top: 10px;
}

#geocoder-clear.hidden {
  @apply hidden;
}

#geocoder-search {
  padding-right: 36px;
}

@media screen and (min-width: 500px) {
  .embedded #geocoder-container {
    width: 360px;
    margin-bottom: 8px;
  }

  .embedded #legend {
    bottom: 24px;
    right: 8px;
    left: auto;
  }

  .embedded #legend .content {
    width: 360px;
    max-height: 250px;
    background: none;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .embedded #legend .content h1 {
    @apply text-xl block;
  }

  .embedded #legend form {
    @apply block;
  }
  .embedded #legend .select:first-child,
  .embedded #legend .select:last-child {
    @apply mx-0;
  }
}

@media screen and (min-width: 800px) {
  #geocoder-container {
    width: 360px;
    margin-bottom: 8px;
  }

  #legend {
    bottom: 24px;
    right: 8px;
    left: auto;
  }

  #legend .content {
    width: 360px;
    max-height: 600px;
    background: none;
    background-color: rgba(255, 255, 255, 0.8);
  }

  #legend .content h1 {
    @apply text-xl block;
  }

  #legend form {
    @apply block;
  }
  #legend .select:first-child,
  #legend .select:last-child {
    @apply mx-0;
  }
}

.maplibregl-map {
  @apply font-body;
}

.maplibregl-popup-close-button {
  @apply px-0 py-1;
}

.maplibregl-popup {
  max-width: 220px;
  width: 220px;
}

.maplibregl-popup {
  z-index: 1;
}

.maplibregl-popup .maplibregl-popup-tip {
  border-top-color: rgba(255, 255, 255, 0.8);
}

.maplibregl-popup .maplibregl-popup-content {
  background-color: rgba(255, 255, 255, 0.8);
}

.maplibregl-popup .maplibregl-popup-content {
  padding: 0;
  pointer-events: none;
}

.maplibregl-popup .tooltip-results-label {
  line-height: 1;
  margin-bottom: 6px;
}

.maplibregl-popup-content .tooltip-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.maplibregl-popup-content .popup {
  padding: 10px 10px 15px;
  pointer-events: none;
}

.maplibregl-popup-close-button,
.maplibregl-popup-content .popup.click {
  pointer-events: all;
}

.maplibregl-popup-close-button {
  padding: 0.1rem 0.25rem;
}

.legend-row {
  @apply flex flex-row items-center justify-between;

  line-height: 1.25;
}

.legend-row:not(:last-of-type) {
  @apply mb-1 pb-1;

  border-color: rgba(0, 0, 0, 0.3);
  border-bottom-width: 1px;
}

.legend-row .label {
  line-height: 1;
}

.legend-row .numbers {
  @apply flex items-center justify-end flex-grow pl-2;

  width: 45%;
  min-width: 45%;
}

.legend-row .percent {
  @apply inline-block pl-2 w-12;
}

#legend .legend-row .percent {
  @apply pl-3 w-16;
}

.legend-row .color {
  @apply h-3 w-3 inline-block mr-2;
}

.legend-row-details {
  @apply flex flex-row items-center;
}

.maplibregl-popup-content h2 {
  @apply text-base mb-1;

  line-height: 1;
}

.maplibregl-popup-content h3 {
  @apply text-sm mb-2;

  line-height: 1;
}

.maplibregl-ctrl-attrib summary.maplibregl-ctrl-attrib-button {
  @apply appearance-none;

  list-style: none;
}

.maplibregl-ctrl-attrib
  summary.maplibregl-ctrl-attrib-button::-webkit-details-marker {
  @apply hidden;
}

.embed-attribution {
  @apply hidden pt-2 text-sm;
}

.embedded .embed-attribution {
  @apply block;
}
