.embedded #main-nav {
  @apply hidden;
}

.nav-title-link {
  @apply flex flex-row items-center;
}

.nav-title-link svg {
  @apply h-5 mr-2;
}

#nav-menu {
  @apply flex flex-col text-right;
}

#nav-toggle[aria-expanded="true"] {
  @apply mb-2;
}

#nav-toggle[aria-expanded="false"] + #nav-menu {
  @apply hidden;
}

#skip-navigation {
  @apply absolute top-0 left-0 mt-12 z-10 pl-3;
}

#nav-menu a[aria-current="page"] {
  @apply font-semibold;
}

@screen lg {
  #nav-menu {
    @apply flex-row;
  }
  #nav-menu li {
    @apply ml-4;
  }
  #nav-toggle {
    @apply hidden;
  }
  #nav-toggle[aria-expanded="true"] {
    @apply mb-0;
  }
  #nav-toggle[aria-expanded="false"] + #nav-menu {
    @apply flex;
  }
}
